@font-face {
  font-family: "SF Pro Text";
  src: url("font/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("font/Satoshi-Variable.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font-family: 'SF Pro Text', sans-serif; */
  font-family: 'Inter', sans-serif;
  line-height: 1.8;
  /* background: linear-gradient(#124678, #90C5F7); */
}

p {
  color: #4a5567;
  font-size: 16px;
  font-weight: 300;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satoshi Variable', sans-serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}